@import 'vars';
@import 'global';
@import 'fonts';
// font-family: 'Quicksand', sans-serif;
// header start
.header__top {
    background-color: #eef1f3;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 7px;
    &-text {
        font-size: 30px;
        line-height: 28px;
        span {
            color: #0674ec;
        }
        a {
            color: #000;
        }
    }
}

.header__btn {
    font-size: 14px;
    line-height: 28px;
    padding: 6px 17px;
    width: 140px;
    color: #fff;
    border-radius: 25px;
    background-color: #0674ec;
    margin-right: 390px;
}

.header__boss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {
    display: flex;
    li {
        display: inline-block;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        &+li {
            margin-left: 30px;
        }
        a {
            color: #333333;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 42px;
        }
    }
}

.header__search {
    max-width: 360px;
    position: relative;
    input {
        display: block;
        width: 100%;
        border-radius: 25px;
        border: 1px solid #d9dfe5;
        height: 46px;
        font-size: 15px;
        line-height: 30px;
        padding-left: 25px;
        padding-right: 70px;
        outline: none;
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        position: absolute;
        background-color: #0674ec;
        border: none;
        width: 70px;
        height: 46px;
        border-radius: 30px;
        right: 0;
        top: 0;
        outline: none;
        cursor: pointer;
    }
}

// header end
//search start
.search {
    min-height: 725px;
    background-color: #2246ca;
}

.search__inner {
    position: relative;
    padding-top: 180px;
    padding-bottom: 242px;
    color: #f3f3f8;
    text-align: center;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 10px;
        ;
        span {
            font-weight: 700;
            display: block;
        }
    }
    &-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 72px;
        margin-top: 10px;
        padding-bottom: 30px;
    }
}

.search__btn {
    a {
        width: 190px;
        padding: 15px 32px;
        border-radius: 30px;
        font-size: 16px;
    }
    &-white {
        background-color: #fff;
        color: #0674ec;
    }
    &-transparant {
        margin-left: 30px;
        border: 1px solid #fff;
        color: #fff;
    }
}

.search__big-window {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 1140px;
    width: 100%;
    height: 135px;
    background-color: #fff;
    bottom: -65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    z-index: 5;
    form {
        padding-left: 40px;
        position: relative;
    }
    input {
        width: 805px;
        // width: 100%;
        height: 55px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 42px;
        color: #818181;
        outline: none;
    }
    &-btn {
        position: absolute;
        right: 2px;
        bottom: 1px;
        background-color: #fff;
        width: 195px;
        height: 53px;
        border: none;
        border-left: 1px solid #dcdcdc;
        color: #818181;
        outline: none;
        cursor: pointer;
        img {
            margin-left: 30px;
        }
    }
}

.search__big-shadow1 {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    height: 135px;
    border-radius: 6px;
    opacity: 0.502;
    bottom: -49px;
}

.search__big-shadow2 {
    position: absolute;
    max-width: 1080px;
    width: 100%;
    height: 135px;
    border-radius: 6px;
    opacity: 0.502;
    bottom: -36px;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: 0 auto;
}

.search__big-btn {
    padding-right: 40px;
    button {
        width: 223px;
        height: 55px;
        border-radius: 4px;
        background-color: #0674ec;
        color: #eef6fe;
        font-size: 16px;
        line-height: 42px;
        outline: none;
        cursor: pointer;
    }
}

//search big finish
//context start
.context {
    padding-top: 185px;
    padding-bottom: 120px;
}

.context__inner {
    display: flex;
    justify-content: space-between;
}

.context__item {
    max-width: 363px;
    text-align: center;
    a {
        color: #010101;
    }
    &-img {
        margin: 38px auto;
    }
    &-title {
        font-size: 24px;
    }
    &-text {
        margin: 30px;
        font-size: 16px;
        line-height: 30px;
    }
    &:hover {
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

//context finish
//slider start
.slider {
    padding: 120px 0;
    background-color: #eff1f5;
}

.slider__inner-title-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: #fff;
    font-size: 30px;
    line-height: 28px;
    padding: 42px 0 30px 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.slider__inner-arrows {
    background-color: #7347c1;
    max-width: 110px;
    width: 100%;
    height: 45px;
    border-radius: 40px;
    margin-right: 30px;
    position: relative;
}

.slick-next {
    right: 52px;
    top: -61px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.slick-next::before {
    content: "\f105";
    font-family: 'icomoon';
}

.slick-prev {
    position: absolute;
    right: 97px;
    top: -61px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.slick-prev::before {
    content: "\f104";
    font-family: 'icomoon';
}

.slider__inner {
    padding-top: 50px;
}

.slider__item {
    display: flex !important;
    justify-content: space-between;
    height: 450px;
    width: 100%;
    &-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 450px;
        max-width: 555px;
        width: 100%;
    }
}

.slider__content {
    background-color: #fff;
    max-width: 585px;
    width: 100%;
    padding: 50px 50px 24px;
    &-title {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
    }
    &-author {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        .avatar {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 30px;
            height: 30px;
        }
        span {
            padding-left: 9px;
            font-size: 15px;
            line-height: 30px;
            color: #000;
        }
        .plagin {
            padding-left: 38px;
            font-size: 15px;
            line-height: 30px;
            color: #7347c1;
        }
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-bottom: 30px;
    }
    &-plus {
        display: flex;
        justify-content: start;
        padding-bottom: 35px;
        border-bottom: 1px solid #ececec;
        li {
            padding: 0 15px;
            height: 28px;
            background-color: #f1f3f6;
            border-radius: 20px;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
        }
        li+li {
            margin-left: 7px;
        }
        a {
            color: #868c96;
        }
    }
}

.slider__content-priceAndMore {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.slider__content-price {
    background-color: #0674ec;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    line-height: 30px;
    padding: 0 15px;
}

.slider__content-like {
    color: #555555;
    font-size: 15px;
    line-height: 30px;
    padding-left: 44px;
}

.slider__content-buy {
    color: #0674ec;
    font-size: 15px;
    line-height: 30px;
    padding-left: 44px;
}

//slider end
//products start
.products {
    padding: 120px 0;
    background-color: #f6f7fb;
}

.products__top {
    width: 100%;
    height: 110px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 43px 25px 43px 30px;
    &-title {
        color: #000;
        font-size: 30px;
        line-height: 28px;
    }
    &-filter {
        color: #747b86;
        font-size: 16px;
        line-height: 32px;
        padding-right: 25px;
        position: relative;
        button {
            width: 15px;
            height: 23px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            position: absolute;
            bottom: 3px;
            right: 0;
        }
    }
}

.products__inner-btn {
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 0 20px 30px;
    button {
        padding: 1px 21px;
        font-size: 15px;
        line-height: 30px;
        border: none;
        border-radius: 30px;
        background-color: #f1f3f6;
        color: #747b86;
        cursor: pointer;
        outline: none;
        &+button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: #0674ec;
            color: #fff;
            outline: none;
        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 361px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #fff;
    &-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        min-height: 230px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &-content {
        padding: 30px 38px 20px 30px;
        border-bottom: 1px solid #ececec;
    }
    &-author {
        display: flex;
        align-items: center;
        .name__company {
            padding-left: 9px;
            font-size: 15px;
            line-height: 30px;
        }
        .plugin {
            padding-left: 45px;
            line-height: 30px;
            font-size: 15px;
            color: #7347c1;
        }
    }
    &-title {
        font-size: 20px;
        color: #000;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        margin-top: 15px;
    }
}

.products__item-price {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 38px 15px 30px;
    position: relative;
    a {
        font-size: 15px;
        line-height: 30px;
        color: #0674ec;
        background-color: #e6f1fd;
        padding: 0 18px;
        border-radius: 20px;
    }
    .products__item-like {
        margin-left: 36px;
        color: #6f7d8d;
    }
    .products__item-buy {
        position: absolute;
        right: 30px;
        color: #0674ec;
    }
}

.products__button-btn {
    text-align: center;
    margin-top: 40px;
    button {
        border: none;
        background-color: #0674ec;
        border-radius: 30px;
        color: #fff;
        font-size: 16px;
        line-height: 35px;
        padding: 10px 33px;
        outline: none;
        cursor: pointer;
    }
}

// product end
//second slider start
.slider__second {
    background-color: #eff1f5;
    padding: 120px 0 90px;
}

.slider__second-inner {
    padding-top: 50px;
    text-align: center;
}

// second slider end
// section black start
.section__smile {
    background-color: #212225;
}

.section__inner {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}

.section__item {
    max-width: 112px;
    width: 100%;
    min-height: 170px;
    position: relative;
    text-align: center;
    &-icon {
        &::before {
            content: "\f0b1";
            color: #feb71d;
            position: absolute;
            font-size: 48px;
            line-height: 36px;
            top: 0;
            right: 0;
            left: 0;
            font-family: 'icomoon';
            text-align: center;
        }
    }
    &-number {
        font-size: 36px;
        line-height: 36px;
        padding-top: 70px;
        color: #feb71d;
    }
    &-text {
        font-size: 18px;
        line-height: 36px;
        color: #fff;
    }
}

// section black end
//section whyMe start
.section__whyMe {
    background-color: #fff;
}

.whyMe__content {
    padding-top: 120px;
    text-align: center;
    &-title {
        font-size: 36px;
        line-height: 28px;
        color: #000;
        span {
            color: #0674ec;
        }
    }
    &-text {
        padding-top: 30px;
        font-size: 16px;
        line-height: 30px;
        width: 700px;
        color: #555555;
        margin: 0 auto;
    }
}

.whyMe__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.whyMe__item {
    margin-top: 60px;
    position: relative;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    max-width: 363px;
    width: 100%;
    min-height: 350px;
}

.whyMe__item-number {
    content: '';
    color: rgba(92, 135, 248, 0.2);
    left: 20px;
    top: 20px;
    font-size: 48px;
    position: absolute;
}

.whyMe__item-icon {
    &::before {
        position: absolute;
        content: "\f2c3";
        font-size: 60px;
        text-align: center;
        left: 0;
        right: 0;
        top: 55px;
        color: #0674ec;
        font-family: 'icomoon';
    }
}

.whyMe__item-title {
    padding-top: 155px;
    text-align: center;
    font-size: 24px;
    color: #000;
}

.whyMe__item-text {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    padding: 30px 30px 60px 30px;
    text-align: center;
}

//section whyMe end
// buy start
.watchProduct__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watchProduct__item {
    max-width: 960px;
    width: 100%;
    text-align: center;
}

.watchProduct__item-bg {
    img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 110px;
        height: 100px;
    }
    padding: 120px 95px;
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.watchProduct__item-title {
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: 36px;
    line-height: 30px;
    color: #fff;
}

.watchProduct__item-text {
    max-width: 590px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
}

.watchProduct__item-btn-l {
    button {
        color: #0674ec;
        background-color: #fff;
    }
}

.watchProduct__item-btn-r {
    button {
        color: #7347c1;
        background-color: #fff;
    }
}

//buy end
//feedback start
.feedback__inner {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.feedback__item {
    max-width: 555px;
    width: 100%;
    border-left: 2px solid #0674ec;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 300px;
    padding: 50px 40px;
    position: relative;
    &-author {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &::before {
            content: "\f0e5";
            font-family: 'icomoon';
            position: absolute;
            right: 40px;
            top: 50px;
            font-size: 60px;
            color: #e8e8e8;
        }
        &-name {
            padding-left: 19px;
            color: #000;
            font-size: 20px;
            span {
                font-size: 16px;
                color: #555555;
                padding-top: 10px;
                display: block;
            }
        }
    }
    &-text {
        font-size: 16px;
        color: #555555;
    }
}

.feedback__button-btn {
    padding-bottom: 120px;
    padding-top: 20px;
}

//feedback end
//start news
.news {
    background-color: #eff1f5;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__item {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 361px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 120px;
    border-radius: 4px;
    background-color: #fff;
    &-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        min-height: 230px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &-content {
        padding: 30px 40px 30px 30px;
        border-bottom: 1px solid #ececec;
    }
    &-title {
        font-size: 20px;
        color: #000;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        margin-top: 15px;
    }
}

.news__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    a {
        color: #7e7e7e;
    }
    &-date {
        padding-left: 54px;
        position: relative;
    }
    &-date::before {
        content: "\e950";
        font-family: 'icomoon';
        font-size: 15px;
        line-height: 30px;
        color: #0674ec;
        left: 25px;
        top: -5px;
        position: absolute;
    }
    &-col {
        width: 1px;
        height: 40px;
        background-color: #ececec;
        margin-right: 20px;
    }
    &-comment {
        position: relative;
        padding-right: 20px;
    }
    &-comment::before {
        content: "\f0e5";
        font-family: 'icomoon';
        font-size: 15px;
        line-height: 30px;
        left: -22px;
        top: -5px;
        position: absolute;
        color: #7e7e7e;
    }
    &-look {
        position: relative;
        padding-right: 30px;
    }
    &-look::before {
        content: "\f06e";
        font-family: 'icomoon';
        font-size: 15px;
        line-height: 30px;
        left: -22px;
        top: -5px;
        position: absolute;
        color: #7e7e7e;
    }
}

//end news
//start support
.support {
    background-color: #fff;
}

.support__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.support__item {
    max-width: 362px;
    width: 100%;
    margin: 62px 0;
    text-align: center;
    &-img {
        padding-bottom: 30px;
    }
    &-text {
        font-size: 24px;
    }
}

.support__item-col {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #e8eaf3;
    &::before {
        content: '';
        text-align: center;
        left: 0;
        right: 0;
    }
}

.item-b {
    margin-right: 20px;
}

.text-g {
    a {
        color: #0674ec;
    }
}

.text-s {
    a {
        color: #7347c1;
    }
}

//end support
// start join
.join {}

.container-fluid {}

.join__inner-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-image: linear-gradient( 180deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
}

.join__item {
    padding: 110px 0;
    text-align: center;
    &-title {
        font-size: 36px;
        color: #fff;
    }
    &-text {
        padding-top: 23px;
        font-size: 18px;
        color: #e7e7e7;
    }
}

.join__button-btn {
    button {
        color: #0674ec;
        background-color: #fff;
    }
}

//   end join